{% extends 'base.html' %}

{% block title %}Overview{% endblock %}

{% block content %}
<div>
    {{ piechart|safe }}
</div>
<table border="1">
    <thead>
        <tr>
            <th>Date</th>
            <th>Serial Number</th>
            <th>UUID</th>
            <th>Computer Name</th>
            <th>IP Address</th>
            <th>MAC Address</th>
            <th>Windows</th>
            <th>Version</th>
            <th>Build</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for info in computer_info %}
        <tr>
            <td>{{ info.date }}</td>
            <td>{{ info.serial_number }}</td>
            <td>{{ info.uuid }}</td>
            <td>{{ info.computer_name }}</td>
            <td>{{ info.ip_address }}</td>
            <td>{{ info.mac_address }}</td>
            <td>{{ info.win_name }}</td>
            <td>{{ info.win_ver }}</td>
            <td>{{ info.win_build }}</td>
            <td>
                <form method="POST">
                    <input type="hidden" name="serial_number" value="{{ info.serial_number }}">
                    <button>❌</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><i>Returned {{ number_of_records }} records</i></p>
{% endblock %}